@import url('./reset.css');
@import url('./header.css');
@import url('../../node_modules/simplelightbox/dist/simple-lightbox.min.css');
@import url('../../node_modules/izitoast/dist/css/iziToast.min.css');

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1128px;
  margin: 10px auto;
}

.item-list {
  display: flex;
  flex-direction: column;
  width: 358px;
  height: 198px;
  border: 1px solid #808080;
}

.item-list-img {
  width: 100%;
  height: 152px;
}

.markup-info {
  display: flex;
  justify-content: space-around;
}

.item-list-info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchForm {
  align-items: center;
  margin: 35px auto 32px;
  width: 375px;
  display: flex;
}

.searchButton {
  margin-left: 8px;
  border-radius: 8px;
  padding: 8px 16px;
  background: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  height: 40px;
  width: 91px;
}

.searchButton:hover {
  background: #6c8cff;
}

.input {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  width: 272px;
}

.loader {
  display: none;
}
.loader {
  display: none;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4e75ff;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more:hover {
  background-color: #6c8cff;
}
